# Environment variables
VITE_API_URL=http://localhost:3000/api
VITE_APP_NAME=Capitune

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAJcbdZgM5_jPXZVgmT2LT9DCrG7FAwjyk
VITE_FIREBASE_AUTH_DOMAIN=capituneapp-8dc22.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=capituneapp-8dc22
VITE_FIREBASE_STORAGE_BUCKET=capituneapp-8dc22.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=795041725460
VITE_FIREBASE_APP_ID=1:79504172546sss:web:c114c7da7c1e10511dfb01
VITE_FIREBASE_MEASUREMENT_ID=G-T1HRMDD15E